<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>province</key>
	<dict>
		<key>湖南省</key>
		<dict>
			<key>长沙市</key>
			<dict>
				<key>芙蓉区</key>
				<array>
					<string>芙蓉11</string>
					<string>芙蓉22</string>
					<string>芙蓉33</string>
					<string>芙蓉44</string>
					<string>芙蓉大道</string>
				</array>
				<key>岳麓区</key>
				<array>
					<string>岳麓11</string>
					<string>岳麓22</string>
					<string>岳麓33</string>
					<string>岳麓44</string>
				</array>
				<key>开福区</key>
				<array>
					<string>开服11</string>
					<string>开福11</string>
					<string>开开</string>
					<string>开路</string>
					<string>开福33</string>
					<string>开服445</string>
				</array>
				<key>雨花区</key>
				<array>
					<string>侯家塘</string>
					<string>韶山路</string>
					<string>武广</string>
					<string>万家丽</string>
				</array>
			</dict>
			<key>株洲市</key>
			<dict>
				<key>石峰区</key>
				<array>
					<string>响石岭街道</string>
					<string>云田镇</string>
					<string>龙头铺镇</string>
					<string>学林街道</string>
					<string>井龙街道</string>
					<string>铜塘湾街道</string>
					<string>清水塘街道</string>
					<string>田心街道</string>
				</array>
				<key>芦淞区</key>
				<array>
					<string>贺家土街道</string>
					<string>建设街道</string>
					<string>建宁街道</string>
					<string>董家段街道</string>
					<string>庆云街道</string>
					<string>姚家坝乡</string>
					<string>五里墩乡</string>
					<string>白关镇</string>
					<string>枫溪街道</string>
					<string>龙泉街道</string>
				</array>
				<key>荷塘区</key>
				<array>
					<string>月塘街道</string>
					<string>茨菇塘街道</string>
					<string>宋家桥街道</string>
					<string>桂花街道</string>
					<string>明照乡</string>
					<string>仙庾镇</string>
					<string>金山街道</string>
				</array>
				<key>天元区</key>
				<array>
					<string>栗雨街道</string>
					<string>泰山路街道</string>
					<string>三门镇</string>
					<string>群丰镇</string>
					<string>雷打石镇</string>
					<string>马家河镇</string>
					<string>嵩山路街道</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>market</key>
	<dict>
		<key>other</key>
		<array>
			<dict>
				<key>dishName</key>
				<string>长城红酒</string>
				<key>dishImageURLStr</key>
				<string>http://pic17.nipic.com/20111012/1203372_132019462114_2.jpg</string>
				<key>dishDesc</key>
				<string>国产红酒</string>
				<key>dishPrice</key>
				<real>300</real>
				<key>dishNumber</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>法国红酒</string>
				<key>dishImageURLStr</key>
				<string>http://image.cn.made-in-china.com/4f0j01gZzTlYIsqHpV/%E6%B3%A2%E5%B0%94%E5%A4%9A%E7%BA%A2%E9%85%92.jpg</string>
				<key>dishDesc</key>
				<string>法国纯进口</string>
				<key>dishPrice</key>
				<real>1200</real>
				<key>dishNumber</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>fruit</key>
		<array>
			<dict>
				<key>dishName</key>
				<string>柠檬</string>
				<key>dishImageURLStr</key>
				<string>http://a2.att.hudong.com/68/74/05300439213381133523747871500.jpg</string>
				<key>dishDesc</key>
				<string>新鲜的柠檬</string>
				<key>dishPrice</key>
				<real>6.9</real>
				<key>dishNumber</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>草莓</string>
				<key>dishImageURLStr</key>
				<string>http://pic16.nipic.com/20110824/2839526_150421777610_2.jpg</string>
				<key>dishDesc</key>
				<string>新鲜的草莓</string>
				<key>dishPrice</key>
				<real>30</real>
				<key>dishNumber</key>
				<integer>6</integer>
			</dict>
		</array>
		<key>dryfoods</key>
		<array>
			<dict>
				<key>dishName</key>
				<string>香菇</string>
				<key>dishImageURLStr</key>
				<string>http://tu.webps.cn/tb/img/4/TB1LAPGGpXXXXc9XVXXXXXXXXXX_%21%210-item_pic.jpg</string>
				<key>dishDesc</key>
				<string>西北香菇</string>
				<key>dishPrice</key>
				<real>18.9</real>
				<key>dishNumber</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>话梅</string>
				<key>dishImageURLStr</key>
				<string>http://pic20.nipic.com/20120415/9491194_235607333000_2.jpg</string>
				<key>dishDesc</key>
				<string>好吃的话梅</string>
				<key>dishPrice</key>
				<real>26.9</real>
				<key>dishNumber</key>
				<integer>5</integer>
			</dict>
		</array>
		<key>beans</key>
		<array>
			<dict>
				<key>dishName</key>
				<string>豌豆</string>
				<key>dishImageURLStr</key>
				<string>http://i1.cqnews.net/fashion/attachement/jpg/site82/2010-11-25/7325394287535501806.JPG</string>
				<key>dishDesc</key>
				<string>新鲜的豌豆</string>
				<key>dishPrice</key>
				<real>4.9</real>
				<key>dishNumber</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>黄豆</string>
				<key>dishImageURLStr</key>
				<string>http://a3.att.hudong.com/43/25/01300000312693123078259385804.jpg</string>
				<key>dishDesc</key>
				<string>丰富的蛋白质</string>
				<key>dishPrice</key>
				<real>6.9</real>
				<key>dishNumber</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>frozenfoods</key>
		<array>
			<dict>
				<key>dishName</key>
				<string>冻鸡腿</string>
				<key>dishImageURLStr</key>
				<string>http://image5.huangye88.com/2014/09/01/f4703c6781f5b550.jpg</string>
				<key>dishDesc</key>
				<string>冷冻鸡腿</string>
				<key>dishPrice</key>
				<real>6.9</real>
				<key>dishNumber</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>冻海虾</string>
				<key>dishImageURLStr</key>
				<string>http://img001.hc360.cn/y1/M04/8B/36/wKhQc1R8x4mEHkxpAAAAAPaifDY318.jpg</string>
				<key>dishDesc</key>
				<string>冷冻海虾</string>
				<key>dishPrice</key>
				<real>36.9</real>
				<key>dishNumber</key>
				<integer>2</integer>
			</dict>
		</array>
		<key>seafood</key>
		<array>
			<dict>
				<key>dishName</key>
				<string>鲫鱼</string>
				<key>dishImageURLStr</key>
				<string>http://pic.58pic.com/58pic/15/25/18/09N58PICWKq_1024.jpg</string>
				<key>dishDesc</key>
				<string>新鲜的鲫鱼</string>
				<key>dishPrice</key>
				<real>12.9</real>
				<key>dishNumber</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>鲤鱼</string>
				<key>dishImageURLStr</key>
				<string>http://pic.58pic.com/58pic/15/23/59/23558PICi8a_1024.jpg</string>
				<key>dishDesc</key>
				<string>新鲜的鲤鱼</string>
				<key>dishPrice</key>
				<real>8.9</real>
				<key>dishNumber</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>冻海虾</string>
				<key>dishImageURLStr</key>
				<string>http://img001.hc360.cn/y1/M04/8B/36/wKhQc1R8x4mEHkxpAAAAAPaifDY318.jpg</string>
				<key>dishDesc</key>
				<string>冷冻海虾</string>
				<key>dishPrice</key>
				<real>36.9</real>
				<key>dishNumber</key>
				<integer>2</integer>
			</dict>
		</array>
		<key>meat</key>
		<array>
			<dict>
				<key>dishName</key>
				<string>前腿肉</string>
				<key>dishImageURLStr</key>
				<string>http://img000.hc360.cn/g8/M02/3A/E8/wKhQtlNm8tyEUA7jAAAAAEYHwI8993.jpg</string>
				<key>dishDesc</key>
				<string>前腿肉称前腱,后腿肉称后腱,筋肉相同呈花形。适于炖、焖、酱等</string>
				<key>dishPrice</key>
				<real>14.9</real>
				<key>dishNumber</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>冻鸡腿</string>
				<key>dishImageURLStr</key>
				<string>http://image5.huangye88.com/2014/09/01/f4703c6781f5b550.jpg</string>
				<key>dishDesc</key>
				<string>冷冻鸡腿</string>
				<key>dishPrice</key>
				<real>6.9</real>
				<key>dishNumber</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>vegetables</key>
		<array>
			<dict>
				<key>dishName</key>
				<string>小白菜</string>
				<key>dishImageURLStr</key>
				<string>http://pic25.nipic.com/20121107/10603465_203950382102_2.jpg</string>
				<key>dishDesc</key>
				<string>新鲜的小白菜</string>
				<key>dishPrice</key>
				<real>4.9</real>
				<key>dishNumber</key>
				<integer>5</integer>
			</dict>
		</array>
		<key>hotsell</key>
		<array>
			<dict>
				<key>dishName</key>
				<string>小白菜</string>
				<key>dishImageURLStr</key>
				<string>http://pic25.nipic.com/20121107/10603465_203950382102_2.jpg</string>
				<key>dishDesc</key>
				<string>新鲜的小白菜</string>
				<key>dishPrice</key>
				<real>4.9</real>
				<key>dishNumber</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>前腿肉</string>
				<key>dishImageURLStr</key>
				<string>http://img000.hc360.cn/g8/M02/3A/E8/wKhQtlNm8tyEUA7jAAAAAEYHwI8993.jpg</string>
				<key>dishDesc</key>
				<string>前腿肉称前腱,后腿肉称后腱,筋肉相同呈花形。适于炖、焖、酱等</string>
				<key>dishPrice</key>
				<real>14.9</real>
				<key>dishNumber</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>鲫鱼</string>
				<key>dishImageURLStr</key>
				<string>http://pic.58pic.com/58pic/15/25/18/09N58PICWKq_1024.jpg</string>
				<key>dishDesc</key>
				<string>新鲜的鲫鱼</string>
				<key>dishPrice</key>
				<real>12.9</real>
				<key>dishNumber</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>鲤鱼</string>
				<key>dishImageURLStr</key>
				<string>http://pic.58pic.com/58pic/15/23/59/23558PICi8a_1024.jpg</string>
				<key>dishDesc</key>
				<string>新鲜的鲤鱼</string>
				<key>dishPrice</key>
				<real>8.9</real>
				<key>dishNumber</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>冻鸡腿</string>
				<key>dishImageURLStr</key>
				<string>http://image5.huangye88.com/2014/09/01/f4703c6781f5b550.jpg</string>
				<key>dishDesc</key>
				<string>冷冻鸡腿</string>
				<key>dishPrice</key>
				<real>6.9</real>
				<key>dishNumber</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>冻海虾</string>
				<key>dishImageURLStr</key>
				<string>http://img001.hc360.cn/y1/M04/8B/36/wKhQc1R8x4mEHkxpAAAAAPaifDY318.jpg</string>
				<key>dishDesc</key>
				<string>冷冻海虾</string>
				<key>dishPrice</key>
				<real>36.9</real>
				<key>dishNumber</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>豌豆</string>
				<key>dishImageURLStr</key>
				<string>http://i1.cqnews.net/fashion/attachement/jpg/site82/2010-11-25/7325394287535501806.JPG</string>
				<key>dishDesc</key>
				<string>新鲜的豌豆</string>
				<key>dishPrice</key>
				<real>4.9</real>
				<key>dishNumber</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>黄豆</string>
				<key>dishImageURLStr</key>
				<string>http://a3.att.hudong.com/43/25/01300000312693123078259385804.jpg</string>
				<key>dishDesc</key>
				<string>丰富的蛋白质</string>
				<key>dishPrice</key>
				<real>6.9</real>
				<key>dishNumber</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>香菇</string>
				<key>dishImageURLStr</key>
				<string>http://tu.webps.cn/tb/img/4/TB1LAPGGpXXXXc9XVXXXXXXXXXX_%21%210-item_pic.jpg</string>
				<key>dishDesc</key>
				<string>西北香菇</string>
				<key>dishPrice</key>
				<real>18.9</real>
				<key>dishNumber</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>话梅</string>
				<key>dishImageURLStr</key>
				<string>http://pic20.nipic.com/20120415/9491194_235607333000_2.jpg</string>
				<key>dishDesc</key>
				<string>好吃的话梅</string>
				<key>dishPrice</key>
				<real>26.9</real>
				<key>dishNumber</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>柠檬</string>
				<key>dishImageURLStr</key>
				<string>http://a2.att.hudong.com/68/74/05300439213381133523747871500.jpg</string>
				<key>dishDesc</key>
				<string>新鲜的柠檬</string>
				<key>dishPrice</key>
				<real>6.9</real>
				<key>dishNumber</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>草莓</string>
				<key>dishImageURLStr</key>
				<string>http://pic16.nipic.com/20110824/2839526_150421777610_2.jpg</string>
				<key>dishDesc</key>
				<string>新鲜的草莓</string>
				<key>dishPrice</key>
				<real>30</real>
				<key>dishNumber</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>长城红酒</string>
				<key>dishImageURLStr</key>
				<string>http://pic17.nipic.com/20111012/1203372_132019462114_2.jpg</string>
				<key>dishDesc</key>
				<string>国产红酒</string>
				<key>dishPrice</key>
				<real>300</real>
				<key>dishNumber</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>dishName</key>
				<string>法国红酒</string>
				<key>dishImageURLStr</key>
				<string>http://image.cn.made-in-china.com/4f0j01gZzTlYIsqHpV/%E6%B3%A2%E5%B0%94%E5%A4%9A%E7%BA%A2%E9%85%92.jpg</string>
				<key>dishDesc</key>
				<string>法国纯进口</string>
				<key>dishPrice</key>
				<real>1200</real>
				<key>dishNumber</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<key>cart</key>
	<array>
		<dict>
			<key>dishName</key>
			<string>小白菜</string>
			<key>dishImageURLStr</key>
			<string>http://pic25.nipic.com/20121107/10603465_203950382102_2.jpg</string>
			<key>dishDesc</key>
			<string>新鲜的小白菜</string>
			<key>dishPrice</key>
			<real>4.9</real>
			<key>dishNumber</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>dishName</key>
			<string>前腿肉</string>
			<key>dishImageURLStr</key>
			<string>http://img000.hc360.cn/g8/M02/3A/E8/wKhQtlNm8tyEUA7jAAAAAEYHwI8993.jpg</string>
			<key>dishDesc</key>
			<string>前腿肉称前腱,后腿肉称后腱,筋肉相同呈花形。适于炖、焖、酱等</string>
			<key>dishPrice</key>
			<real>14.9</real>
			<key>dishNumber</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>dishName</key>
			<string>鲫鱼</string>
			<key>dishImageURLStr</key>
			<string>http://pic.58pic.com/58pic/15/25/18/09N58PICWKq_1024.jpg</string>
			<key>dishDesc</key>
			<string>新鲜的鲫鱼</string>
			<key>dishPrice</key>
			<real>12.9</real>
			<key>dishNumber</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>dishName</key>
			<string>鲤鱼</string>
			<key>dishImageURLStr</key>
			<string>http://pic.58pic.com/58pic/15/23/59/23558PICi8a_1024.jpg</string>
			<key>dishDesc</key>
			<string>新鲜的鲤鱼</string>
			<key>dishPrice</key>
			<real>8.9</real>
			<key>dishNumber</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>dishName</key>
			<string>冻鸡腿</string>
			<key>dishImageURLStr</key>
			<string>http://image5.huangye88.com/2014/09/01/f4703c6781f5b550.jpg</string>
			<key>dishDesc</key>
			<string>冷冻鸡腿</string>
			<key>dishPrice</key>
			<real>6.9</real>
			<key>dishNumber</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>dishName</key>
			<string>冻海虾</string>
			<key>dishImageURLStr</key>
			<string>http://img001.hc360.cn/y1/M04/8B/36/wKhQc1R8x4mEHkxpAAAAAPaifDY318.jpg</string>
			<key>dishDesc</key>
			<string>冷冻海虾</string>
			<key>dishPrice</key>
			<real>36.9</real>
			<key>dishNumber</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>dishName</key>
			<string>豌豆</string>
			<key>dishImageURLStr</key>
			<string>http://i1.cqnews.net/fashion/attachement/jpg/site82/2010-11-25/7325394287535501806.JPG</string>
			<key>dishDesc</key>
			<string>新鲜的豌豆</string>
			<key>dishPrice</key>
			<real>4.9</real>
			<key>dishNumber</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>dishName</key>
			<string>黄豆</string>
			<key>dishImageURLStr</key>
			<string>http://a3.att.hudong.com/43/25/01300000312693123078259385804.jpg</string>
			<key>dishDesc</key>
			<string>丰富的蛋白质</string>
			<key>dishPrice</key>
			<real>6.9</real>
			<key>dishNumber</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>dishName</key>
			<string>香菇</string>
			<key>dishImageURLStr</key>
			<string>http://tu.webps.cn/tb/img/4/TB1LAPGGpXXXXc9XVXXXXXXXXXX_%21%210-item_pic.jpg</string>
			<key>dishDesc</key>
			<string>西北香菇</string>
			<key>dishPrice</key>
			<real>18.9</real>
			<key>dishNumber</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>dishName</key>
			<string>话梅</string>
			<key>dishImageURLStr</key>
			<string>http://pic20.nipic.com/20120415/9491194_235607333000_2.jpg</string>
			<key>dishDesc</key>
			<string>好吃的话梅</string>
			<key>dishPrice</key>
			<real>26.9</real>
			<key>dishNumber</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>dishName</key>
			<string>柠檬</string>
			<key>dishImageURLStr</key>
			<string>http://a2.att.hudong.com/68/74/05300439213381133523747871500.jpg</string>
			<key>dishDesc</key>
			<string>新鲜的柠檬</string>
			<key>dishPrice</key>
			<real>6.9</real>
			<key>dishNumber</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>dishName</key>
			<string>草莓</string>
			<key>dishImageURLStr</key>
			<string>http://pic16.nipic.com/20110824/2839526_150421777610_2.jpg</string>
			<key>dishDesc</key>
			<string>新鲜的草莓</string>
			<key>dishPrice</key>
			<real>30</real>
			<key>dishNumber</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>dishName</key>
			<string>长城红酒</string>
			<key>dishImageURLStr</key>
			<string>http://pic17.nipic.com/20111012/1203372_132019462114_2.jpg</string>
			<key>dishDesc</key>
			<string>国产红酒</string>
			<key>dishPrice</key>
			<real>300</real>
			<key>dishNumber</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>dishName</key>
			<string>法国红酒</string>
			<key>dishImageURLStr</key>
			<string>http://image.cn.made-in-china.com/4f0j01gZzTlYIsqHpV/%E6%B3%A2%E5%B0%94%E5%A4%9A%E7%BA%A2%E9%85%92.jpg</string>
			<key>dishDesc</key>
			<string>法国纯进口</string>
			<key>dishPrice</key>
			<real>1200</real>
			<key>dishNumber</key>
			<integer>3</integer>
		</dict>
	</array>
</dict>
</plist>
